/* DOCUMENT---------------------- */

*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

body{
    width: 1080px;
    margin: 0 auto;
}

/* NAVBAR----------------------- */


nav{
    margin: 0 auto;
    text-align: center;
    float: right;
}

nav ul li {
    list-style: none;
    width: 100px;
    margin: 13px;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: rgb(124, 123, 123);
}

nav ul li a:hover{
    color: #ffd8d2;
    border-bottom: 1px solid #ffd8d2;
}

#logo{
    width: 150px;
    height: 40px;
    background-image: url(assets/images/logoCherry.png);
    background-repeat: no-repeat;
    text-indent: -250px;
    overflow: hidden;
    margin: 10px;
    float: left;
}

#logo a{
    display: block;
    height: 48px;
}

/* HEADER----------------------- */

header{
    margin: auto;
    position: relative;
}


.main-banner{
    width: 1080px;
    margin-bottom: 50px;
}

.main-text{
    position: absolute;
    top: 150px;
    left: 300px;
    background-color: rgba(255, 255, 255, 0.866);
    padding: 40px;
    width: 400px;
    height: 200px;
}

.main-text h2{
    font-family: 'Bodoni Moda', serif;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}

/* BEST SELLERS SECTION----------- */

.best-sellers{
    width: 1080px;
    height: 400px;
    margin: 0 auto;

}

.best-sellers div{
    width: 200px;
    display: inline-block;
    margin: 20px;
    padding: 20px 12px;
    border: 1px solid rgba(0, 0, 0, 0.177);
}

.best-sellers div:hover{
    transform: scale(1.06);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.338);
}

.best-sellers div img {
    width: 100%;
}

.section-title{
    font-family: 'Bodoni Moda', serif;
    font-style: italic;
    font-size: 45px;
    color: rgb(49, 48, 48);
    text-align: center;
} 

/* CENTER BANNER----------------- */

.center-banner{
    background-image: url(assets/images/center-banner.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
    opacity: 0.8;
    width: 1080px;
    height: 400px;
    margin: 50px 0;
}

/* CONTACT SECTION---------------- */

.contact-section{
    width: 1080px;
    height: 250px;
    margin-top: 20px;
}

.contact-section ul{
    list-style: none;
    display: inline-block;
    width: 538px;
    height: 200px;
    text-align: center;
}

.social-media{
    background-color: #7ea398;
    margin: 0;
    color: white;
    float: left;
    padding-top: 50px;
}

.social-media li{
    margin: 10px;
}

.contact-list{
    float: right;
    padding-top: 10px;
}

.contact-list li{
  margin: 10px;
}

.contact-list li a{
    text-decoration: none;
    color: black;
}

.arroba{
    color: #ffd8d2;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;    
    font-weight: 900;
    font-size: 20px;
}


 /* FOOTER---------------------- */

footer{
    height: 100px;
    margin-top: 40px;
    background-color: black;
}

footer p{
    text-align: center;
    padding: 30px;
    color: white; 
}